<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
		<add name="Entitatiile_bazei_mele_de_date" connectionString="data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=C:\Users\Mircea\source\repos\Irimies_Mircea_Proiect\Irimies_Mircea_Proiect\Baza_de_date_proiect.mdf;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>